@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  body {
    @apply bg-white text-apple-dark;
    font-family: 'Paperlogy-8ExtraBold', sans-serif;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .btn {
    @apply bg-apple-blue text-white font-medium py-2 px-4 rounded-full 
           hover:bg-blue-600 transition-colors duration-300;
  }
  
  .section {
    @apply py-12;
  }
} 