@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039; /* 영문 A-Z, a-z, 숫자 0-9 */
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F; /* 한글 유니코드 범위 */
}

@layer base {
  body {
    @apply bg-white text-apple-dark;
    font-family: 'Paperlogy-8ExtraBold', 'Pretendard-Regular', sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .btn {
    @apply bg-apple-blue text-white font-medium py-2 px-4 rounded-full 
           hover:bg-blue-600 transition-colors duration-300;
  }
  
  .section {
    @apply py-20;
  }
} 